# Obtained from https://github.com/obsidianmd/obsidian-sample-plugin
# See https://github.com/obsidianmd/obsidian-sample-plugin/blob/4b06e44f8f1b66beab00e7a9f8e9a4b069851432/.gitignore

# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store



# Custom Rule for this repository
reports/
/e2e/config.json
